* {
    line-height: 1.5;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline-color: #0099ff;
    font-family: Inter;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}

::selection {
    background-color: #0099ff;
    color: #fff;
}

html {
    height: 100vh;
    height: 100svh;
    width: 100%;
    overflow-y: auto;

    .dark {
        background-color: #000;
    }

    body {
        font-size: 16px;
        height: 100%;
    }
}

/* Ẩn biểu tượng con mắt trong ô nhập mật khẩu */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

.container-home {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 10px;
    background-color: #eef5fd;
    object-fit: cover;

    .navigation {
        background-color: #fff;
        border-radius: 16px;
        box-shadow: 5px 5px 15px #00000012;
        max-width: 400px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: 0 0 10px 0;
        margin-right: 10px;

        .wrapper {
            padding: 20px;
            height: fit-content;
        }

        .wrapper-list::-webkit-scrollbar {
            display: none;
        }

        .wrapper-list {
            flex: 1;
            overflow-y: scroll;
            -ms-overflow-style: none;  /* IE và Edge */
            scrollbar-width: none;  /* Firefox */
        }

        .wrapper,
        .wrapper-list {
            width: 100%;
            display: flex;
            justify-content: start;
            align-items: start;
            flex-direction: column;
            gap: 10px;

            .search-bar {
                width: 100%;
                height: 40px;
                display: flex;
                align-items: start;
                gap: 10px;
                position: relative;

                i:hover {
                    opacity: 0.5;
                    transition: .2s all;
                }

                i {
                    font-size: 20px;
                    color: #0099ff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }

                .fa-bars {
                    height: 40px;
                    width: 40px;
                    border-radius: 10px;
                    padding: 5px 5px 5px 0;
                    justify-content: start;
                }

                input {
                    height: 40px;
                    flex: 1;
                    border-radius: 20px;
                    padding: 5px 5px 5px 15px;
                    background-color: #efefef;
                    border: unset;
                    font-size: 16px;
                }

                .fa-xmark {
                    position: absolute;
                    height: 40px;
                    width: 40px;
                    right: 0;
                    border-radius: 50%;
                    padding: 5px;
                    display: none;
                }
            }

            .tablist {
                display: flex;
                justify-content: start;
                align-items: center;
                height: 35px;
                width: 100%;
                gap: 10px;

                .active {
                    color: #0099ff;
                    background-color: #eef5fd;
                }

                div:hover {
                    background-color: #efefef;
                    /* background-color: green; */
                }

                div:active {
                    height: 35px;
                    background-color: transparent;

                    .wrapper {
                        background-color: #e7f1fd;
                        scale: 0.95;
                        border-radius: 8;
                    }
                }

                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 35px;
                    border-radius: 20px;

                    .wrapper {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 6px 10px 6px 10px;
                        height: 35px;
                        width: max-content;
                        cursor: pointer;
                        font-size: 14px;
                        font-weight: 600;

                        user-select: none;
                        /* Ngăn không cho bôi đen */
                        -webkit-user-select: none;
                        /* Dùng cho trình duyệt Safari */
                        -moz-user-select: none;
                        /* Dùng cho Firefox */
                    }
                }

                .online-users {
                    width: 94px;
                }

                .all-users {
                    width: 62px;
                }
            }

            .users-list {
                height: fit-content;
                width: 100%;
                /* padding: 0 15px 0 10px; */
                padding: 0 15px 0 10px;
                display: flex;
                flex-direction: column;
                /* row-gap: 8.5px; */

                /* background-color: #0099ff; */

                .active {
                    background-color: #0099ff22;
                }

                .active:hover {
                    background-color: #0099ff22 !important;
                    border-radius: unset !important;
                    /* outline: #0099ff solid 2px; */
                }

                .active:last-child {
                    border-radius: 0 0 10px 10px !important;
                }

                .active:last-child:hover {
                    border-radius: 0 0 10px 10px !important;
                }

                .dot {
                    position: absolute;
                    content: '';
                    padding: 5px;
                    background-color: #0099ff;
                    right: 15px;
                    border-radius: 50%;
                }

                .user:hover {
                    background-color: #eee;
                    border-radius: 10px;
                }

                .user {
                    position: relative;
                    /* box-shadow: inset 0 0 0 1px #000; */
                    height: 68px;
                    overflow: hidden;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    /* padding: 8px 16px 8px 8px; */
                    padding: 10px 20px 10px 10px;
                    /* border-radius: 10px; */
                    gap: 10px;
                    cursor: pointer;
                    user-select: none;
                    -webkit-user-select: none;
                    -moz-user-select: none;

                    .user-img {
                        height: 48px;
                        width: 48px;
                        background-image: url(../../view/img/user.png);
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        flex-shrink: 0;
                    }

                    .user-info {


                        .user-name {
                            font-weight: 600;
                        }

                        .latest-msg {
                            max-width: 290px;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 1;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: normal;
                        }
                    }
                }
            }
        }

    }

    .main {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eef5fd;
        background-color: #ffffff;
        box-shadow: 5px 5px 15px #00000012;
        border-radius: 16px;
        margin-left: 10px;

        .wrapper {
            padding: 15px;
            /* background-color: #f0f9ff; */
            width: 100%;
            height: 100%;
            display: flex;
            /* justify-content: center;
            align-items: center; */
            flex-direction: column;
            gap: 10px;

            .title {
                width: 100%;
                height: 55px;
                display: flex;
                justify-content: start;
                align-items: center;

                #back:hover {
                    background-color: #f0f9ff;

                }

                #back {
                    color: #0099ff;
                    font-size: 20px;
                    height: 40px;
                    width: 40px;
                    display: none;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    flex-shrink: 0;
                    cursor: pointer;
                    transition: all .2s;
                }

                .user:hover {
                    background-color: #eee;
                }

                .user {
                    height: 100%;
                    overflow: hidden;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    padding: 8px 12px 8px 8px;
                    background-color: transparent;
                    border-radius: 10px;
                    gap: 10px;
                    cursor: pointer;

                    user-select: none;
                    /* Ngăn không cho bôi đen */
                    -webkit-user-select: none;
                    /* Dùng cho trình duyệt Safari */
                    -moz-user-select: none;
                    /* Dùng cho Firefox */

                    .user-img {
                        height: 45px;
                        width: 45px;
                        background-image: url(../../view/img/user.png);
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        flex-shrink: 0;
                    }

                    .user-info {
                        position: relative;
                        height: 45px;
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        flex-direction: column;

                        .user-name {
                            font-weight: 600;
                        }

                        .status::before {
                            content: '';
                            height: 8px;
                            width: 8px;
                            background-color: #00bb00;
                            position: absolute;
                            border-radius: 50%;
                            left: 0;
                            bottom: 0;
                            border: 2px solid #fff;
                            transform: translateX(-23px);
                        }

                        .status {
                            font-size: 10px;
                        }
                    }
                }
            }

            .body-chat {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1;
                /* background-color: #f0f9ff; */
                border-radius: 20px;

                .msg-list {
                    height: 100%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    flex-direction: column;
                    gap: 10px;

                    .msg {
                        width: 100%;
                        display: flex;
                        /* justify-content: center; */
                        align-items: center;

                        .msg-content {
                            max-width: 85%;
                            background-color: #eee;
                            border-radius: 20px;
                            padding: 8px 12px 8px 12px;

                        }
                    }

                    .sent {
                        justify-content: flex-end;

                        .msg-content {
                            background-color: #0099ff;
                            color: #fff;
                        }
                    }

                    .received {
                        justify-content: flex-start;
                    }
                }
            }

            .input-area {
                min-height: 70px;
                height: fit-content;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                /* padding: 10px; */
                gap: 10px;

                #option {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    background-color: #f0f9ff;
                    border-radius: 20px;

                    i:hover {
                        opacity: 0.5;
                    }

                    /* #button-show:hover {
                        animation: rotate .3s ease-in-out forwards;
                    } */
                    #button-show.active {
                        transform: rotate(45deg);
                        transition: all .3s;
                        background-color: #0099ff;
                        color: #f0f9ff;
                    }

                    i {
                        color: #0099ff;
                        font-size: 20px;
                        background-color: #f0f9ff;
                        height: 40px;
                        width: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        flex-shrink: 0;
                        cursor: pointer;
                        transition: all .2s;
                    }

                    #more.active {
                        display: flex;
                        transition: all .5s;
                    }

                    #more {
                        display: none;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                    }
                }

                .wrapper {
                    background-color: transparent;
                    border-radius: 0;
                    box-shadow: unset;
                    background-color: #efefef;
                    border-radius: 20px;
                    height: fit-content;
                    padding: 8px 8px 8px 12px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    textarea {
                        background-color: transparent;
                        border: unset;
                        overflow: hidden;
                        resize: none;
                        height: 24px;
                        vertical-align: middle;
                        font-size: 16px;
                        width: 100%;
                        outline: unset;
                    }
                }

                div#send-msg {
                    height: 40px;
                    width: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-shrink: 0;

                    ion-icon {
                        color: #0099ff;
                        height: 25px;
                        width: 25px;
                    }
                }
            }
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }

}

#messages {
    border: 1px solid #ccc;
    height: 300px;
    width: 100%;
    overflow-y: auto;
    padding: 10px;
}

#input {
    width: 100%;
    font-size: 16px;
}

/* form login*/
.container-login {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: #eef5fd;

    .wrapper {
        padding: 15px;

        form:hover {
            box-shadow: 5px 5px 15px #00000022;
        }

        form {
            background-color: #f0f9ff;
            width: 100%;
            max-width: 400px;
            padding: 30px;
            display: grid;
            place-items: center;
            grid-template-columns: 1;
            gap: 25px;
            border-radius: 30px;
            box-shadow: 5px 5px 15px #00000012;
            transition: .3s all;

            img {
                max-width: 200px;
                height: 200px;
                object-fit: cover;
            }

            .box-input:nth-child(2) {
                div {
                    grid-template-columns: auto auto auto;
                }
            }

            .box-input:nth-child(3) {
                div {
                    grid-template-columns: auto 1fr auto;

                    .fa-eye {
                        background-color: transparent;
                        width: 34px;
                        height: 34px;
                        border-radius: 10px;
                        font-size: 14px;
                        cursor: pointer;
                        display: grid;
                        place-items: center;
                        display: none;
                    }

                    .fa-eye.active {
                        display: grid;
                    }

                    .fa-eye-slash {
                        background-color: transparent;
                        width: 34px;
                        height: 34px;
                        border-radius: 10px;
                        font-size: 14px;
                        cursor: pointer;
                        display: grid;
                        place-items: center;
                        display: none;
                    }

                    .fa-eye-slash.active {
                        display: grid;
                    }
                }
            }

            .box-input {
                width: 100%;
                padding: 16px;
                background-color: #fff;
                border-radius: 20px;
                display: grid;
                place-items: start;
                box-shadow: 0 0 20px #00000012;
                gap: 5px;

                div {
                    display: grid;
                    place-items: center;
                    grid-template-columns: auto 1fr;
                    gap: 10px;

                    input {
                        width: 100%;
                        padding: 5px 5px 5px 8px;
                        font-size: 16px;
                        border: unset;
                        background-color: transparent;
                        border-radius: 10px;
                    }

                    p {
                        width: 100%;
                        padding: 5px;
                        font-size: 16px;
                        border: unset;
                        background-color: transparent;
                        border-radius: 10px;
                    }

                    i {
                        margin-bottom: -2px;
                        color: #888;
                    }
                }
            }

            button:hover {
                background-color: #0165E1;
                content: 'haha';
            }

            button {
                font-size: 16px;
                height: 45px;
                width: 100%;
                border: unset;
                cursor: pointer;
                border-radius: 20px;
                background-color: #0099ff;
                font-weight: bold;
                color: #fff;
                transition: .3s all;
            }

            .option {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                a {
                    text-decoration: unset;
                    color: #0099ff99;
                    font-size: 12px;
                }
            }
        }
    }
}

/* form register*/
.container-register {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: #eef5fd;
    /* background-color: #fff; */

    .wrapper {
        padding: 15px;

        form:hover {
            box-shadow: 5px 5px 15px #00000022;
        }

        form {
            background-color: #f0f9ff;
            width: 100%;
            max-width: 400px;
            padding: 30px;
            display: grid;
            place-items: center;
            grid-template-columns: 1;
            gap: 25px;
            border-radius: 30px;
            box-shadow: 5px 5px 15px #00000012;
            transition: .3s all;

            img {
                max-width: 200px;
                height: 200px;
                object-fit: cover;
            }

            .box-input:nth-child(4) {
                div:nth-child(2) {
                    grid-template-columns: auto 1fr auto;

                    .fa-eye {
                        background-color: transparent;
                        width: 34px;
                        height: 34px;
                        border-radius: 10px;
                        font-size: 14px;
                        cursor: pointer;
                        display: grid;
                        place-items: center;
                        display: none;
                    }

                    .fa-eye.active {
                        display: grid;
                    }

                    .fa-eye-slash {
                        background-color: transparent;
                        width: 34px;
                        height: 34px;
                        border-radius: 10px;
                        font-size: 14px;
                        cursor: pointer;
                        display: grid;
                        place-items: center;
                        display: none;
                    }

                    .fa-eye-slash.active {
                        display: grid;
                    }
                }
            }

            .box-input {
                width: 100%;
                padding: 16px;
                background-color: #fff;
                border-radius: 20px;
                display: grid;
                place-items: start;
                box-shadow: 0 0 20px #00000012;
                gap: 5px;

                div {
                    display: grid;
                    place-items: center;
                    grid-template-columns: auto 1fr;
                    gap: 10px;

                    input {
                        width: 100%;
                        padding: 5px 5px 5px 8px;
                        font-size: 16px;
                        border: unset;
                        background-color: transparent;
                        border-radius: 10px;
                    }

                    i {
                        margin-bottom: -2px;
                        color: #888;
                    }
                }
            }

            button:hover {
                background-color: #0165E1;
                content: 'haha';
            }

            button {
                font-size: 16px;
                height: 45px;
                width: 100%;
                border: unset;
                cursor: pointer;
                border-radius: 20px;
                background-color: #0099ff;
                font-weight: bold;
                color: #fff;
                transition: .3s all;
            }

            .option {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    text-decoration: unset;
                    color: #0099ff99;
                    font-size: 12px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    body {
        width: 100%;
        overflow-x: hidden;
        scroll-behavior: smooth;

        .container-home {
            width: 200%;
            display: flex;
            overflow: hidden;

            .navigation {
                max-width: 100%;

                .wrapper-list{

                    .users-list{
                        padding: 0 10px;
                    }
                }
            }
            
            .main {
                max-width: 100%;

                .wrapper{
                    padding: 10px;

                    .title{

                        #back{
                            display: flex;
                        }
                    }
                }
            }
        }
    }
}