:root {
    --bgr-primary: #F6F5FF;
    --bgr-secondary: #EFEDFF;
    --bgr-secondary-1: #FFFFFF;

    --primary-color: #7363FF;
    --secondary-color: #A89FFF;

    --input-color: #EFEFEF;

    --text-msg-color: #FFFFFF;
    --text-color: #000000;
    --msg-color: #EFEFEF;

    --hover-color: #EFEFEF;
    --active-color: #F1F0FF;

    --status-on: #00BB00;
    --status-off: #999999;

    --toast-normal: #DDDDDD;
    --toast-successful: #75D00F;
    --toast-error: #F33950;
}

* {
    line-height: 1.5;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline-color: var(--primary-color);
    font-family: Inter;
    -webkit-tap-highlight-color: transparent;
    /* scroll-behavior: smooth; */
}

/* ::selection {
    background-color: var(--primary-color);
    color: #fff;
} */

@keyframes toast {
    0% {
        transform: translateX(calc(100% + 15px));
    }

    100% {
        transform: translateX(calc(0%));
    }
}

@keyframes cooldown {
    0% {
        transform: translateX(calc(0%));
    }

    100% {
        transform: translateX(calc(-100%));
    }
}

html {
    height: 100vh;
    height: 100svh;
    width: 100%;
    overflow-y: auto;

}

body {
    font-size: 16px;
    height: 100%;
    position: relative;
    background-color: #eef5fd;
    background-color: var(--bgr-primary);
    color: var(--text-color);

    .toast {
        z-index: 999;
        transform: translateX(calc(100% + 15px));
        position: fixed;
        top: 10px;
        right: 15px;
        background-color: var(--bgr-secondary-1);


        border-radius: 6px;
        overflow: hidden;

        box-shadow: 3px 3px 10px #00000012;

        .wrapper::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 10px;
            background-color: var(--toast-normal);
        }

        .wrapper::after {
            content: '';
            position: absolute;
            top: 0;
            left: 4px;
            bottom: 0;
            width: 13px;
            background-color: var(--bgr-secondary-1);
            border-radius: 6px;
        }

        .wrapper {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;

            padding: 5px 20px 5px 12px;

            min-width: 250px;


            .toast-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                color: var(--toast-normal);

                i {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-shrink: 0;
                    height: 35px;
                    width: 35px;
                    font-size: 20px;
                }
            }

            .toast-info {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;

                height: 100%;

                .toast-title {
                    font-weight: 500;
                }

                .toast-content {
                    font-size: 14px;
                    font-weight: 300;
                }
            }

            /* .cooldown {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: var(--text-msg-color);
                z-index: 1;
            } */
        }
    }

    .toast.successful {
        animation: toast .5s ease-out forwards;

        .wrapper::before {
            background-color: var(--toast-successful);
        }

        .toast-icon {
            color: var(--toast-successful);
        }

        .cooldown {
            animation: cooldown 3s ease-out forwards;
            background-color: var(--toast-successful);
        }
    }

    .toast.error {
        animation: toast .5s ease forwards;

        .wrapper::before {
            background-color: var(--toast-error);
        }

        .toast-icon {
            color: var(--toast-error);
        }

        .cooldown {
            animation: cooldown 3s ease-out forwards;
            background-color: var(--toast-error);
        }

    }
}

/* Ẩn biểu tượng con mắt trong ô nhập mật khẩu */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

.container-home {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 10px;
    /* background-color: #eef5fd; */
    object-fit: cover;

    .navigation {
        background-color: #ffffff;
        background-color: var(--bgr-secondary-1);
        border-radius: 16px;
        box-shadow: 5px 5px 15px #00000012;
        max-width: 400px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: 0 0 10px 0;
        margin-right: 10px;

        .wrapper {
            padding: 20px;
            height: fit-content;
        }

        .wrapper-list::-webkit-scrollbar {
            display: none;
        }

        .wrapper-list {
            flex: 1;
            overflow-y: scroll;
            -ms-overflow-style: none;
            /* IE và Edge */
            scrollbar-width: none;
            /* Firefox */
        }

        .wrapper,
        .wrapper-list {
            width: 100%;
            display: flex;
            justify-content: start;
            align-items: start;
            flex-direction: column;
            gap: 10px;

            .search-bar {
                width: 100%;
                height: 40px;
                display: flex;
                align-items: start;
                gap: 10px;
                position: relative;

                i:hover {
                    opacity: 0.5;
                    transition: .2s all;
                }

                i {
                    font-size: 20px;
                    color: var(--primary-color);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }

                .fa-bars {
                    height: 40px;
                    width: 40px;
                    border-radius: 10px;
                    padding: 5px 5px 5px 0;
                    justify-content: start;
                }

                input {
                    height: 40px;
                    flex: 1;
                    border-radius: 20px;
                    padding: 5px 5px 5px 15px;
                    background-color: var(--input-color);
                    border: unset;
                    font-size: 16px;
                }

                .fa-xmark {
                    position: absolute;
                    height: 40px;
                    width: 40px;
                    right: 0;
                    border-radius: 50%;
                    padding: 5px;
                    display: none;
                }
            }

            .tablist {
                display: flex;
                justify-content: start;
                align-items: center;
                height: 35px;
                width: 100%;
                gap: 10px;

                .active {
                    color: var(--primary-color);
                    background-color: var(--active-color);
                }

                div:hover {
                    background-color: var(--hover-color);
                    /* background-color: green; */
                }

                div:active {
                    height: 35px;
                    background-color: transparent;

                    .wrapper {
                        background-color: var(--active-color);
                        scale: 0.95;
                        border-radius: 8;
                    }
                }

                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 35px;
                    border-radius: 20px;

                    .wrapper {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 6px 10px 6px 10px;
                        height: 35px;
                        width: max-content;
                        cursor: pointer;
                        font-size: 14px;
                        font-weight: 600;

                        user-select: none;
                        /* Ngăn không cho bôi đen */
                        -webkit-user-select: none;
                        /* Dùng cho trình duyệt Safari */
                        -moz-user-select: none;
                        /* Dùng cho Firefox */
                    }
                }

                .online-users {
                    width: 94px;
                }

                .all-users {
                    width: 62px;
                }
            }

            .users-list {
                height: fit-content;
                width: 100%;
                padding: 0 10px;
                display: flex;
                flex-direction: column;

                .dot {
                    position: absolute;
                    content: '';
                    padding: 5px;
                    background-color: var(--primary-color);
                    right: 15px;
                    border-radius: 50%;
                }

                .user:hover {
                    background-color: var(--hover-color);
                    border-radius: 10px;

                    .user-info {

                        .status::before {
                            border: 2px solid var(--hover-color);
                        }
                    }
                }

                .user {
                    width: 100%;
                    position: relative;
                    overflow: hidden;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    padding: 8px 16px 8px 8px;
                    gap: 10px;
                    cursor: pointer;
                    user-select: none;
                    -webkit-user-select: none;
                    -moz-user-select: none;

                    .user-img {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: var(--primary-color) solid 3px;
                        border-radius: 50%;
                        flex-shrink: 0;

                        img {
                            width: 45px;
                            height: 45px;
                            max-width: 100%;
                            max-height: 100%;
                            padding: 3px;
                        }
                    }

                    .user-info.on {
                        .status::before {
                            background-color: var(--status-on);
                        }
                    }

                    .user-info {
                        position: relative;

                        .status::before {
                            content: '';
                            height: 8px;
                            width: 8px;
                            background-color: var(--status-off);
                            position: absolute;
                            border-radius: 50%;
                            left: 0;
                            bottom: 0;
                            border: 2px solid #fff;
                            border: 2px solid var(--bgr-secondary-1);
                            transform: translateX(-23px);
                        }

                        .user-name {
                            font-weight: 600;
                        }

                        .latest-msg {
                            max-width: 290px;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 1;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: normal;
                        }
                    }
                }

                .active {
                    background-color: var(--active-color);

                    .user-info {

                        .status::before {
                            border: 2px solid var(--active-color);
                        }
                    }
                }

                .active:hover {
                    background-color: var(--active-color);
                    border-radius: unset;
                    /* outline: var(--primary-color) solid 2px; */
                }
            }
        }
    }

    .main {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--bgr-secondary-1);
        box-shadow: 5px 5px 15px #00000012;
        border-radius: 16px;
        margin-left: 10px;

        #ready-start.deactive {
            display: none;
        }

        #ready-start {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            flex: 1;
            gap: 20px;

            img {
                max-width: 100%;
                width: 230px;
            }

            p {
                border-radius: 20px;
                padding: 8px 14px;
                background-color: var(--primary-color);
                color: var(--text-msg-color);
            }
        }

        .wrapper.active {
            display: flex;
        }

        .wrapper {
            display: none;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px;
            gap: 10px;

            .title {
                width: 100%;
                height: 55px;
                display: flex;
                justify-content: start;
                align-items: center;

                #back:hover {
                    background-color: var(--hover-color);

                }

                #back {
                    color: var(--primary-color);
                    font-size: 20px;
                    height: 40px;
                    width: 40px;
                    display: none;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    flex-shrink: 0;
                    cursor: pointer;
                    transition: all .2s;
                }

                .user:hover {
                    background-color: var(--hover-color);

                    .user-info {

                        .status::before {
                            border: 2px solid var(--hover-color);
                        }
                    }
                }

                .user {
                    height: 100%;
                    overflow: hidden;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    padding: 8px 12px 8px 8px;
                    background-color: transparent;
                    border-radius: 10px;
                    gap: 10px;
                    cursor: pointer;

                    user-select: none;
                    /* Ngăn không cho bôi đen */
                    -webkit-user-select: none;
                    /* Dùng cho trình duyệt Safari */
                    -moz-user-select: none;
                    /* Dùng cho Firefox */

                    .user-img {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        /* border: var(--primary-color) solid 3px; */
                        border-radius: 50%;
                        flex-shrink: 0;

                        img {
                            border-radius: 50%;
                            /* box-shadow: 0 0 10px var(--primary-color); */
                            width: 45px;
                            height: 45px;
                            max-width: 100%;
                            max-height: 100%;
                            /* padding: 3px; */
                        }
                    }

                    .user-info.on {
                        .status::before {
                            background-color: var(--status-on);
                        }
                    }

                    .user-info {
                        position: relative;
                        height: 45px;
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        flex-direction: column;

                        .user-name {
                            font-weight: 600;
                        }

                        .status::before {
                            content: '';
                            height: 8px;
                            width: 8px;
                            background-color: var(--status-off);
                            position: absolute;
                            border-radius: 50%;
                            left: 0;
                            bottom: 0;
                            border: 2px solid var(--bgr-secondary-1);
                            transform: translateX(-23px);
                        }

                        .status {
                            font-size: 10px;
                        }
                    }
                }
            }

            .body-chat::-webkit-scrollbar {
                display: none;
            }

            .body-chat {
                display: flex;
                flex-direction: column-reverse;
                justify-content: flex-start;
                overflow-y: auto;
                -ms-overflow-style: none;
                scrollbar-width: none;
                width: 100%;
                height: 100%;
                padding: 0 10px;

                .msg-list {
                    display: none;
                    flex-direction: column;
                    gap: 10px;

                    .msg {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .msg-content {
                            max-width: 85%;
                            width: fit-content;
                            background-color: var(--msg-color);
                            color: var(--text-color);
                            border-radius: 20px;
                            padding: 8px 12px;

                            word-break: break-word;
                            overflow-wrap: break-word;
                            white-space: normal;

                        }
                    }

                    .sent {
                        justify-content: flex-end;

                        .msg-content {
                            background-color: var(--primary-color);
                            color: var(--text-msg-color);
                        }
                    }

                    .received {
                        justify-content: flex-start;
                    }

                    .msg:first-child {
                        margin-top: 20px;
                    }

                    .msg:last-child {
                        margin-bottom: 20px;
                    }
                }

                .active {
                    display: flex;
                }
            }

            .input-area {
                width: 100%;
                height: fit-content;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                gap: 10px;

                #option {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    background-color: var(--hover-color);
                    border-radius: 20px;

                    i:hover {
                        opacity: 0.5;
                    }

                    /* #button-show:hover {
                        animation: rotate .3s ease-in-out forwards;
                    } */
                    #button-show.active {
                        transform: rotate(45deg);
                        transition: all .3s;
                        background-color: var(--primary-color);
                        color: var(--text-msg-color);
                    }

                    i {
                        color: var(--primary-color);
                        background-color: var(--hover-color);
                        font-size: 20px;
                        height: 40px;
                        width: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        flex-shrink: 0;
                        cursor: pointer;
                        transition: all .2s;
                    }

                    #more.active {
                        display: flex;
                        transition: all .5s;
                    }

                    #more {
                        display: none;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                    }
                }

                .wrapper {
                    background-color: transparent;
                    border-radius: 0;
                    box-shadow: unset;
                    background-color: var(--input-color);
                    border-radius: 20px;
                    height: fit-content;
                    padding: 8px 14px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    min-height: 40px;

                    textarea {
                        background-color: transparent;
                        border: unset;
                        overflow: hidden;
                        resize: none;
                        min-height: 24px;
                        vertical-align: middle;
                        font-size: 16px;
                        width: 100%;
                        outline: unset;
                    }
                }

                div#send-msg {
                    height: 40px;
                    width: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-shrink: 0;

                    ion-icon {
                        color: var(--primary-color);
                        height: 25px;
                        width: 25px;
                    }
                }
            }
        }
    }

    .sidebar {
        position: absolute;
        top: 10px;
        left: 10px;
        bottom: 10px;
        overflow: hidden;
        z-index: 1;
        /* background-color: #eef5fd; */
        /* padding: 10px; */
        /* display: none; */
        /* animation: slideRight .5s forwards ease-in-out; */
        transform: translateX(-100%);

        .wrapper {
            width: 100%;
            height: 100%;
            background-color: var(--bgr-primary);
            border-radius: 16px;
            /* box-shadow: 5px 5px 15px #00000012; */
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            overflow: hidden;



            .wrapper-scroll::-webkit-scrollbar {
                display: none;
            }

            .wrapper-scroll {
                height: 100%;
                width: 100%;
                overflow-y: scroll;
                -ms-overflow-style: none;
                /* IE và Edge */
                scrollbar-width: none;
                /* Firefox */
                margin: 16px 0;
                padding: 16px 16px 0 16px;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                gap: 20px;

                .fa-xmark:hover {
                    background-color: var(--hover-color);
                }

                .fa-xmark {
                    z-index: 1;
                    position: absolute;
                    height: 40px;
                    width: 40px;
                    top: 16px;
                    right: 16px;
                    border-radius: 50%;
                    font-size: 20px;
                    color: var(--primary-color);
                    display: none;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }

                .user-profile {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 20px;
                    padding: 40px 20px 20px;

                    .user-img {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: var(--primary-color) solid 3px;
                        border-radius: 50%;

                        img {
                            width: 120px;
                            height: 120px;
                            max-width: 100%;
                            max-height: 100%;
                            flex-shrink: 0;
                            padding: 3px;
                        }
                    }

                    .user-fullname:hover {
                        background-color: var(--hover-color);
                        cursor: copy;
                    }

                    .user-fullname {
                        padding: 5px 12px;
                        font-size: 20px;
                        font-weight: bold;
                        border-radius: 16px;
                    }
                }

                .date-join {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;
                    padding: 10px;
                    gap: 10px;
                    background-color: #fff;
                    box-shadow: 5px 5px 15px #00000012;
                    border-radius: 20px;
                    /* border: var(--primary-color) solid 3px; */
                    cursor: pointer;

                    .icon {
                        /* border: var(--primary-color) solid 3px; */
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 50px;
                        width: 50px;
                        flex-shrink: 0;
                        background-color: var(--active-color);
                        border-radius: 15px;

                        i {
                            font-size: 30px;
                            color: var(--primary-color);
                            text-shadow: var(--primary-color) 0 0 6px;
                        }
                    }

                    .content {
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        flex-direction: column;
                        /* background-color: #d3e7ff;
                        padding: 0 10px;
                        border-radius: 10px; */

                        .title {
                            color: var(--primary-color);
                            font-weight: 600;
                        }

                        .date-info {
                            font-size: 14px;
                        }
                    }
                }

                .general,
                .danger-zone {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;
                    gap: 10px;

                    .title {
                        width: 100%;
                        display: none;
                        align-items: center;
                        gap: 10px;
                        padding-left: 10px;
                        font-weight: 500;

                        i {
                            color: var(--primary-color);
                            font-size: 18px;
                        }
                    }

                    .wrapper {
                        display: inherit;
                        background-color: #fff;
                        box-shadow: 5px 5px 15px #00000012;
                        width: 100%;
                        border-radius: 20px;
                        overflow: hidden;

                        .styles:hover {
                            background-color: var(--hover-color);

                            .link-icon {

                                i {
                                    color: var(--secondary-color);
                                }
                            }
                        }

                        .styles {
                            width: 100%;
                            padding: 12px;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            gap: 10px;
                            cursor: pointer;
                            font-weight: 500;
                            transition: all .3s;

                            i {
                                color: var(--primary-color);
                                font-size: 20px;
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                background-color: var(--active-color);
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-shrink: 0;
                            }

                            .link-icon {
                                display: inherit;
                                flex: 1;
                                justify-content: flex-end;

                                i {
                                    background-color: unset;
                                    color: var(--active-color);
                                    transition: all .3s;
                                }
                            }
                        }

                        #night-mode {

                            /* The switch - the box around the slider */
                            .switch {
                                position: relative;
                                display: inline-block;
                                width: 40px;
                                height: 24px;
                            }

                            /* Hide default HTML checkbox */
                            .switch input {
                                opacity: 0;
                                width: 0;
                                height: 0;
                            }

                            /* The slider */
                            .slider {
                                position: absolute;
                                cursor: pointer;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                background-color: var(--hover-color);
                                -webkit-transition: .3s;
                                transition: .3s;
                            }

                            .slider:before {
                                position: absolute;
                                content: "";
                                height: 16px;
                                width: 16px;
                                left: 4px;
                                bottom: 4px;
                                background-color: white;
                                -webkit-transition: .3s;
                                transition: .3s;
                            }

                            input:checked+.slider {
                                background-color: var(--primary-color);
                            }

                            /* input:focus+.slider {
                                box-shadow: 0 0 1px var(--primary-color);
                            } */

                            input:checked+.slider:before {
                                -webkit-transform: translateX(16px);
                                -ms-transform: translateX(16px);
                                transform: translateX(16px);
                            }

                            /* Rounded sliders */
                            .slider.round {
                                border-radius: 34px;
                            }

                            .slider.round:before {
                                border-radius: 50%;
                            }
                        }

                    }
                }

                .danger-zone {

                    .wrapper {

                        .styles:hover {

                            .link-icon {

                                i {
                                    color: #ff003388;
                                }
                            }
                        }

                        .styles {

                            i {
                                background-color: #ff003322;
                                color: #ff0033;
                            }

                            .link-icon {

                                i {
                                    color: #ff003334;
                                }
                            }
                        }
                    }
                }

                .dev-by {
                    display: inherit;
                    flex: 1;
                    width: 100%;
                    gap: 5px;
                    align-items: flex-end;
                    justify-content: center;
                    padding: 20px 0;
                    flex-wrap: wrap;
                    font-size: 14px;

                    .auther {
                        color: var(--primary-color);
                    }
                }
            }

        }
    }

    .sidebar.active {
        animation: slideLeft .5s forwards ease;
    }

    .sidebar.deactive {
        animation: slideRight .5s forwards ease;
    }

    .shadow {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #00000099;
        display: none;
        opacity: 0;
    }

    .shadow.active {
        animation: inOpacity .5s forwards ease;
    }

    .shadow.deactive {
        animation: deOpacity .5s forwards ease;
    }

}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }

}

@keyframes slideLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes inOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes deOpacity {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


#messages {
    border: 1px solid #ccc;
    height: 300px;
    width: 100%;
    overflow-y: auto;
    padding: 10px;
}

#input {
    width: 100%;
    font-size: 16px;
}

/* form login*/
.container-login {
    width: 100%;
    height: 100%;
    display: grid;

    .wrapper {
        padding: 15px;
        display: inherit;
        place-items: center;

        form:hover {
            box-shadow: 5px 5px 15px #00000022;
        }

        form {
            background-color: var(--bgr-secondary);
            width: 100%;
            max-width: 400px;
            padding: 30px;
            display: grid;
            place-items: center;
            grid-template-columns: 1fr;
            gap: 25px;
            border-radius: 30px;
            box-shadow: 5px 5px 15px #00000012;
            transition: .3s all;

            img {
                max-width: 200px;
                height: 200px;
                object-fit: cover;
            }

            .box-input:nth-child(2) {
                div {
                    width: 100%;
                    grid-template-columns: auto 1fr;
                    /* box-shadow: 0 0 10px #000; */
                }
            }

            .box-input:nth-child(3) {
                div {
                    grid-template-columns: auto 1fr auto;

                    .fa-eye {
                        background-color: transparent;
                        width: 34px;
                        height: 34px;
                        border-radius: 10px;
                        font-size: 14px;
                        cursor: pointer;
                        display: grid;
                        place-items: center;
                        display: none;
                    }

                    .fa-eye.active {
                        display: grid;
                    }

                    .fa-eye-slash {
                        background-color: transparent;
                        width: 34px;
                        height: 34px;
                        border-radius: 10px;
                        font-size: 14px;
                        cursor: pointer;
                        display: grid;
                        place-items: center;
                        display: none;
                    }

                    .fa-eye-slash.active {
                        display: grid;
                    }
                }
            }

            .box-input {
                width: 100%;
                padding: 16px;
                background-color: #fff;
                border-radius: 20px;
                display: grid;
                place-items: start;
                box-shadow: 0 0 20px #00000012;
                gap: 5px;

                div {
                    display: grid;
                    place-items: center;
                    grid-template-columns: auto 1fr;
                    gap: 10px;

                    input {
                        width: 100%;
                        padding: 5px 5px 5px 8px;
                        font-size: 16px;
                        border: unset;
                        background-color: transparent;
                        border-radius: 10px;
                    }

                    p {
                        width: 100%;
                        padding: 5px;
                        font-size: 16px;
                        border: unset;
                        background-color: transparent;
                        border-radius: 10px;
                    }

                    i {
                        margin-bottom: -2px;
                        color: #888;
                    }
                }
            }

            button:hover {
                background-color: #685BD9;
            }

            button {
                font-size: 16px;
                height: 45px;
                width: 100%;
                border: unset;
                cursor: pointer;
                border-radius: 20px;
                background-color: var(--primary-color);
                font-weight: bold;
                color: #fff;
                transition: .3s all;
            }

            .option {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                a {
                    text-decoration: unset;
                    color: var(--primary-color);
                    font-size: 12px;
                }
            }
        }
    }
}

/* form register*/
.container-register {
    width: 100%;
    height: 100%;
    display: grid;
    /* background-color: #eef5fd; */
    /* background-color: #fff; */

    .wrapper {
        padding: 15px;
        display: grid;
        place-items: center;

        form:hover {
            box-shadow: 5px 5px 15px #00000022;
        }

        form {
            background-color: var(--bgr-secondary);
            width: 100%;
            max-width: 400px;
            padding: 30px;
            display: grid;
            place-items: center;
            grid-template-columns: 1fr;
            gap: 25px;
            border-radius: 30px;
            box-shadow: 5px 5px 15px #00000012;
            transition: .3s all;

            img {
                max-width: 200px;
                height: 200px;
                object-fit: cover;
            }

            .box-input:nth-child(4) {
                div:nth-child(2) {
                    grid-template-columns: auto 1fr auto;

                    .fa-eye {
                        background-color: transparent;
                        width: 34px;
                        height: 34px;
                        border-radius: 10px;
                        font-size: 14px;
                        cursor: pointer;
                        display: grid;
                        place-items: center;
                        display: none;
                    }

                    .fa-eye.active {
                        display: grid;
                    }

                    .fa-eye-slash {
                        background-color: transparent;
                        width: 34px;
                        height: 34px;
                        border-radius: 10px;
                        font-size: 14px;
                        cursor: pointer;
                        display: grid;
                        place-items: center;
                        display: none;
                    }

                    .fa-eye-slash.active {
                        display: grid;
                    }
                }
            }

            .box-input {
                width: 100%;
                padding: 16px;
                background-color: #fff;
                border-radius: 20px;
                display: grid;
                place-items: start;
                box-shadow: 0 0 20px #00000012;
                gap: 5px;

                div {
                    width: 100%;
                    display: grid;
                    place-items: center;
                    grid-template-columns: auto 1fr;
                    gap: 10px;

                    input {
                        width: 100%;
                        padding: 5px 5px 5px 8px;
                        font-size: 16px;
                        border: unset;
                        background-color: transparent;
                        border-radius: 10px;
                    }

                    i {
                        margin-bottom: -2px;
                        color: #888;
                    }
                }
            }

            button:hover {
                background-color: #685BD9;
            }

            button {
                font-size: 16px;
                height: 45px;
                width: 100%;
                border: unset;
                cursor: pointer;
                border-radius: 20px;
                background-color: var(--primary-color);
                font-weight: bold;
                color: #fff;
                transition: .3s all;
            }

            .option {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    text-decoration: unset;
                    color: var(--primary-color);
                    font-size: 12px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    body {
        width: 100%;
        overflow-x: hidden;

        .container-home {
            width: 200%;
            display: flex;
            overflow: hidden;

            .navigation {
                max-width: 100%;

                .wrapper-list {

                    .users-list {
                        padding: 0 10px;

                        .active:hover {
                            background-color: var(--hover-color);
                            border-radius: 10px;
                        }

                        .active {
                            background-color: transparent;
                        }
                    }
                }
            }

            .main {
                max-width: 100%;

                .wrapper.active {

                    .title {

                        #back {
                            display: flex;
                        }

                    }
                }
            }

            .sidebar {
                max-width: unset;

                .wrapper {

                    #hide-sidebar {
                        display: flex;
                    }
                }
            }
        }
    }
}