<!DOCTYPE html>
<html lang="vn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Chat</title>
    <link rel="stylesheet" href="asset/css/styles.css">
</head>

<body>
    <h1>Realtime Chat</h1>
    <div id="messages"></div>
    <input id="input" type="text" placeholder="Type a message...">

    <script type="module" src="asset/js/connected.js"></script>
    <script type="module" src="asset/js/messageSent.js"></script>

</body>

</html>